In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Datasets/df_preprocessed.csv')
df.head()
df = df.drop("DEP_TIME_M",axis=1)

In [3]:
mapping = {'ABQ': 0, 'ATL': 1, 'AUS': 2, 'BNA': 3, 'BOS': 4, 'BQN': 5, 'BTV': 6, 'BUF': 7, 'BUR': 8, 'BWI': 9, 'CHS': 10, 'CLE': 11, 'CLT': 12, 'CMH': 13, 'CVG': 14, 'DCA': 15, 'DEN': 16, 'DFW': 17, 'DTW': 18, 'EGE': 19, 'FLL': 20, 'HNL': 21, 'IAD': 22, 'IAH': 23, 'IND': 24, 'JAC': 25, 'JAX': 26, 'LAS': 27, 'LAX': 28, 'LGB': 29, 'MCO': 30, 'MIA': 31, 'MSP': 32, 'MSY': 33, 'OAK': 34, 'ONT': 35, 'ORD': 36, 'ORF': 37, 'ORH': 38, 'PBI': 39, 'PDX': 40, 'PHL': 41, 'PHX': 42, 'PIT': 43, 'PSE': 44, 'PSP': 45, 'PWM': 46, 'RDU': 47, 'RIC': 48, 'RNO': 49, 'ROC': 50, 'RSW': 51, 'SAN': 52, 'SAT': 53, 'SAV': 54, 'SEA': 55, 'SFO': 56, 'SJC': 57, 'SJU': 58, 'SLC': 59, 'SMF': 60, 'SRQ': 61, 'STT': 62, 'SYR': 63, 'TPA': 64}

In [4]:
df['DEST'].value_counts().sort_values(ascending=False)

28    2974
56    1678
4     1243
20    1008
30     947
      ...
0       58
41      48
49      47
19      44
25       5
Name: DEST, Length: 65, dtype: int64

TOP 3 DESTINATIONS
Los Angeles, LAX
San Francisco, SFO
Boston,BOS

In [5]:

df_1_3 = df[df['DEST'].isin([mapping['LAX'],mapping['SFO'],mapping['BOS']])]
df_1_3.shape

(5895, 35)

TOP 10 DESTINATIONS
Los Angeles, LAX
San Francisco, SFO
Boston,BOS
Fort Lauderdale, FLL
Orlando, MCO
Miami, MIA
Buffalo, BUF
San Juan, SJU
Atlanta, ATL
Charlotte, CLT

In [6]:
df_1_10 = df[df['DEST'].isin([mapping['LAX'],mapping['SFO'],mapping['BOS'],mapping['FLL'],mapping['MCO'],mapping['MIA'],mapping['BUF'],mapping['SJU'],mapping['ATL'],mapping['CLT']])]
df_1_10.shape

(11983, 35)

TOP 25 DESTINATIONS
Los Angeles, LAX
San Francisco, SFO
Boston,BOS
Fort Lauderdale, FLL
Orlando, MCO
Miami, MIA
Buffalo, BUF
San Juan, SJU
Atlanta, ATL
Charlotte, CLT
Raleigh-Durham, RDU
Las Vegas, LAS
Seattle, SEA
Phoenix, PHX
Tampa, TPA
Chicago, ORD
Washington, DCA
Salt Lake City, SLC
Rochester, ROC
Jacksonville, JAX
West Palm Beach, PBI
Austin, AUS
Burlington, BTV
San Diego, SAN
Norfolk, ORF

In [7]:
df_1_25 = df[df['DEST'].isin([mapping['LAX'],mapping['SFO'],mapping['BOS'],mapping['FLL'],mapping['MCO'],mapping['MIA'],mapping['BUF'],mapping['SJU'],mapping['ATL'],mapping['CLT'],mapping['RDU'],mapping['LAS'],mapping['SEA'],mapping['PHX'],mapping['TPA'],mapping['ORD'],mapping['DCA'],mapping['SLC'],mapping['ROC'],mapping['JAX'],mapping['PBI'],mapping['AUS'],mapping['BTV'],mapping['SAN'],mapping['ORF']])]
df_1_25.shape

(20513, 35)

CSV FILES

In [9]:
df.to_csv('Datasets/df_preprocessed.csv')
df_1_3.to_csv('Datasets/df_1_3.csv',index=False)
df_1_10.to_csv('Datasets/df_1_10.csv',index=False)
df_1_25.to_csv('Datasets/df_1_25.csv',index=False)